<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Movie Shack Hut" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- nav bar -->
    <nav class="top-bar" data-topbar>
      <%= render "layouts/title_area" %>

      <%= render "movies/top_section" %>
    </nav>

    <!-- flash messages -->
    <%= render "movies/flash_m" %>

    <!-- main content -->
    <%= yield %>

  </body>
</html>
